.cover{
    width: 100%;
    height: 50vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(83, 83, 83, 0.3)),url('https://images.unsplash.com/photo-1532339142463-fd0a8979791a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');  
    background-repeat: no-repeat;
    background-position:center;
    position: relative;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 5vh 0;
}

.hero-text {
  text-align: center;
  margin: 5vh 0 0 0; /* Adjust the top margin as needed */
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column; /* Updated to a flex column layout */
  /* align-items: center; Remove this line */
}

.hero-text h1 {
  color: white;
  margin:0;
}


.tagline-narrow {
  margin: 2vh 0 2vh 0; /* Adjust as needed */
  text-align: center;

}

.tagline-narrow .t1{
   text-shadow: .08em .08em var(--camp_blue);
   color: var(--white);
   }

@media all and (max-width: 1200px){
  .tagline-wide{
    font-size: .8rem;
  }
}

@media all and (max-width: 900px){
    .tagline-narrow{
      display:flex;
      visibility: visible;
      justify-content: center;
      align-items: center;
    }
    .tagline-wide{
      display: none;
      visibility: hidden;
    }
}



.resume-link {
  margin-top: 0.5rem; /* Adjust as needed */
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.resume {
  text-align: center;
  border: 0.3rem solid var(--sky_white);
  border-radius: 2rem;
  padding: 0.75rem 2rem;
  background-color: var(--camp_blue);
  transition: 0.5s ease;
  cursor: pointer;
  margin-top: 0.25rem; /* Adjust as needed */
}

.resume p{
  font-size: 1.2rem;
  color:white;
}

.resume:hover{
  border-color: var(--coral);
  background-color: var(--camp_blue);
}

.resume:hover p{
  color: var(--coral);
}

/* TEST section */

.highlight-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 100%;
    padding: 2rem;
}

.flip-card {
  background-color: transparent;
  width: 240px;
  height: 460px;
  perspective: 2000px;
  border-radius: 1rem;
  margin: 2rem;
}

.flip-card-inner {
  /* position: relative; */
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 4px 4px 8px 4px var(--dark_blue);
  /* border: 1px solid var(--camp_blue); */
  border-radius: 1rem;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  box-shadow: 4px 4px 8px 4px var(--coral);
}

.flip-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0 16px 0;
}

.flip-card-media {
  height: 240px; /* Set the desired height for the image container */
  overflow: hidden;
}

.flip-card-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.flip-card-front, .flip-card-back {
  box-shadow: 3px 3px 5px 3px rgba(0, 35, 61, 0.5);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid var(--camp_blue);
  border-radius: 1rem;
  background: var(--sky_white);
}

.flip-card-front h6{
  align-items: ;
}

.flip-card-front h6,
.flip-card-front p{
  color: var(--camp_blue);
}
.flip-card-back h6,
.flip-card-back p {
  color: var(--text_grey);
}

.flip-card-back{
  transform: rotateY(180deg);
}

/* TEST SECTION END */


.intro-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4vh 4vw;
    border: 1.5rem solid var(--camp_blue);
    border-radius: 4rem;
    height: auto;
    width: 100%;
    
}

.headshot {
  display: flex;
  flex: 0 0 calc(33.33% - 10px); /* 1/3rd of the container minus margin */
  align-items: center;
  max-width: 18vw;
  /* margin-bottom: 20px; */
}

.headshot img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Add a border radius if desired */
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 calc(66.66% - 10px); /* 2/3rds of the container minus margin */
}

.right h6 {
  margin: 0;
}

.signature img {
  width: 100%;
  height: auto;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .headshot {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }

  .headshot img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Add a border radius if desired */
  }
}

/* 
@media all and (max-width: 1500px) {
  .intro-container{
    padding: 2vh 10rem;
  }
} */

.intro-container p{
    text-align: center;
    color: black;
}

.signature{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1em 0em;  
}
.signature img{
    width: 25rem;
    padding-left: 2rem;
}

.signature p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: black;
    font-weight: 300;
}

@media all and (max-width: 768px) {
  .hero-text {
    margin: 60px 0 0 0;
  }

  .intro-container{
    display: flex;
    /* flex-direction:  */
    border: 1rem solid var(--camp_blue);
}
  .intro-container p{
    margin: 1vh 1vw;
}
  .signature{
    margin: 1vh;
    position:relative;
  
}
  .signature img{
    padding-left: 0rem;
    width: 80%; 
}

}

.endorsement-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0rem;
    width: 100%;
    height: auto;
    z-index: -10;
}

.endorsement-box{
    width: 18rem;
    height: 18rem;
    background-color: #999;
    position: relative;
    border: .3rem solid #555;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endorsement-photo {
    height: 10rem;
    width: 10rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.endorsement-photo img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    border-radius: 50%;
    border: .25em solid gray;
    text-align: center
}



.skills-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 4em 10%;
}

.skills-box{
    height: 12rem;
    width: 12rem;
    border-width: .25rem;
    border-style: dashed;
    border-color: black;
    border-radius: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: normal;
    word-break:keep-all;
    box-shadow: .1rem .1rem #999;
    margin: 1rem;
    word-wrap: normal;
    word-break: keep-all;
    text-align: center;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: .1rem;
    color:  var(--sunlight_yellow);
    background-color: var(--slate_grey);
    text-shadow: .07rem .05rem #999;
    text-transform: uppercase;
    }


.skills-box span{
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    font-size: .8rem;
    line-height: 1rem;
    letter-spacing: 0rem;
    color: white;
    text-shadow: none;
}


/*Modal Start*/

/* [Object] Modal
 * =============================== */
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  height: 50%;
}

.modal__inner h2{
    font-family: 'Roboto',sans-serif;
    font-size: 2.5rem;
    text-shadow: .05rem .05rem #999;
    color: var(--camp_blue);
}

.modal_textbox{
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
}

.modal_text p,
.modal_text li{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.modal_text b{
    font-family: 'Roboto',sans-serif;
    font-size: 1.15rem;
    line-height: 1.5rem;
    font-weight: bold;
}

.modal_text{
    width: 60%;
}

.modal_text ul{
    margin: 0rem 5rem;
    line-height: 1rem;
}

.modal_image{
    width: 30%;
    height: auto;
    position: relative;
}

.modal_image img{
    width: 100%;
    height: auto;
    position: absolute;
    left: 25%;
    top: 10%;
}

.modal__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.1rem;
  height: 1.1rem;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5rem;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal{
    top: 50px
  }
    .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }

  
  .modal_textbox{
    flex-direction: column;
  }
  
  .modal_text{
      width: 100%;
  }
  
  .modal_text ul{
      margin: 0rem 0rem;
      line-height: 1rem;
  }
  
  .modal_image{
    margin: 1vh;
    width: 50%;
    height: auto;
    position: relative;
}

.modal_image img{
    width: 100%;
    height: auto;
    position: absolute;
    left:50%;
}

}


/* Other
 * =============================== */
.highlight-container{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 4rem 10rem;
    width: 100%;
    margin-bottom: 0rem;
}

.highlight-box{
    margin: 2rem 0rem 5rem 0rem;
    text-align: center;
    width: 20rem;
    height: auto;
}

@media all and (max-width: 1600px){
  .highlight-container{
    .padding: 0;
  }
  
  .highlight-box{
    margin: 1rem 0rem;
  }
}

.btn {
    width: 300px;
    min-height: 200px;
    border: .15rem dotted var(--forest_green);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: normal;
    word-break: keep-all;
    box-shadow: .05rem .05rem var(--lightgrey);
    cursor: pointer;
    padding: .5rem 1rem;
    text-shadow: .1rem .05rem var(--navyblue); 
    border-radius: 1rem;
    background-color: var(--slate_grey);
}

.callout1{
    font-family: 'Roboto',sans-serif;
    font-size: 2rem;
    color:var(--forest_green);
    }

.btn:hover,
.btn:focus {
    background: white;
    color: var(--camp_blue);
    text-shadow: .04rem .04rem var(--slate_grey);
    border: .1rem solid var(--camp_blue);
    box-shadow: .12rem .12rem var(--slate_grey);
}
.btn:active {
  background: #27ae60;
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.btn--blue {
  background: #2980b9;
}

.btn--blue:hover,
.btn--blue:focus {
  background: #3498db;
}

.btn--blue:active {
  background: #2980b9;
}

/*Moddal End*/

.trustedby-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
    margin-bottom: 4rem;
}

.trustedby-box{
    width: 18rem;
    height: 18rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.trustedby-box img{
    object-fit: scale-down;
    height: 12rem; 
}

.trustedby-box p{
    margin: .5rem;
    text-align: center;
}

.trustedby-box span{
    font-weight: bold;
}

.section-break-container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.section-break-box{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  color: var(--navyblue);
  border-radius: 5rem 5rem 0 0;
  text-align: center;
  padding: 1rem 4rem 1rem 4rem;
}

.section-break-box p{
    line-height: 1.2rem;
}

@media all and (max-width: 700px){
  .section-break-box p{
    font-size: 2rem;
    line-height: 2.75rem;
}
}

