
.camp-blue{
  background-color: #007185; 
}

.sunlight-yellow{
  background-color: #FFD35C;
}

.sky-white{
  background-color: #F5F5F5; 
}

.forest-green{
  background-color: #258F76;
}

.river-stone{
  background-color: #9BA3A5;
}

.text_container {
  width: 30%;
  margin: 2rem auto;
}

.font h1, 
.font h2,
.font h3, 
.font h4,
.font h5,
.font h6,
.font p {
  margin: 1rem 0;
}

h1{
    font-size: 6rem;
}
h2{
    font-size: 5rem;
}
h3{
    font-size: 4rem;
}
h4{
    font-size: 3rem;
}
h5{
    font-size: 2rem;
}
h6{
    font-size: 1.5rem;
}
p{
    font-size: 1.25rem;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.open_sans{
    font-family: 'Open Sans', sans-serif;
}
.playfair_display{
    font-family: 'Playfair Display', serif;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}


.darkblue2 {
    background-color: #002E50;
}

.navyblue2 {
    background-color: #001B2F;
}

.yellow2 {
    background-color: #FFC34D;
}

.white2 {
    background-color: #FFFFFF;
}

.coral2 {
    background-color: #FF875C;
}

.darkgrey2 {
    background-color: #474649;
}

.lightgrey2 {
    background-color: #C8C8CA;
}



/* h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

#para1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    line-height: 2em;
} */
