FallbackResource /index.php

SetEnv TZ America/New_York
SetEnv SERVER_ADMIN alex.Klausing@outlook.com
AddDefaultCharset UTF-8
DefaultLanguage en-US

RewriteEngine on
RewriteRule ^images/(.*) /common-assets/images/$1 [L]

