.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('../../../root/images/img_cover3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.contact-box{
    width: 20em;
    height: 30em;
    background-color: var(--white);
    box-shadow: .3em .3em #999;
    margin: 10em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans',sans-serif;
    border-radius: 1em;
    line-height: 1em;
}

.contact-item p{
    font-size: 3em;
    font-weight: 600;
    text-shadow: .05em .05em #999;
}
.contact-item .phone{
    font-size: 1.5em;
    font-weight: 200;
    color: black;
    text-decoration: none;
}
.contact-item .email{
    font-size: 1.5em;
    font-weight: 200;
    text-decoration: none;
}

.contact-item img{
    width: 2em;
    height: auto;
}