.so-widget-sow-icon-default-70cf62abff28 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-70cf62abff28 .sow-icon span,
.so-widget-sow-icon-default-70cf62abff28 .sow-icon a span {
  display: inline-block;
  color: #dd3333 !important;
  font-size: 40px !important;
}